{% extends '@templates/base.html.twig' %}

{% block title %}{% endblock title %}

{% block meta %}{% endblock meta %}

{% block body %}
  <body id="index">
  {% endblock body %}

  {% block h1 %}{% endblock h1 %}

  {% block content %}
    <div id="colorlib-page">
      <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle">
        <i></i>
      </a>
      <aside id="colorlib-aside" role="complementary" class="js-fullheight">
        <nav id="colorlib-main-menu" role="navigation">
          <ul>
            <li>
              <a href="{{ path('index') }}">Home</a>
            </li>
            <li>
              <a href="{{ path('test') }}">Example</a>
            </li>
            <li>
              <a href="{{ path('configuration') }}">Configuration</a>
            </li>
            <li>
              <a href="{{ path('api') }}">Api</a>
            </li><br>
            <li>
              <a href="https://gitlab.com/selektor-js/selektor" target="_blank">Gitlab</a>
            </li>
            <li>
              <a href="https://www.npmjs.com/package/@selektor/selektor" target="_blank">Npm</a>
            </li>

          </ul>
        </nav>
      </aside>
    </div>
    <div id="colorlib-main">
      <h1>Examples</h1><hr><br><br>
      <h2>
        <pre><code>&lt;select&gt;</code></pre>
      </h2>

      <select id="select-animal" placeholder="Select an animal..." autocomplete="off">
        <option value="dog">Dog</option>
        <option value="cat">Cat</option>
        <option value="hamster">Hamster</option>
        <option value="parrot">Parrot</option>
        <option value="spider">Spider</option>
        <option value="goldfish">Goldfish</option>
      </select><br>

        <p>
          // In your html
        </p>
        <div class="code-bloc-1 code-wrapper">
<pre><code class="code-showcase html">&lt;select id="select-animal" multiple="multiple" placeholder="select an animal..." autocomplete="off"&gt;
    &lt;option value="dog"&gt;dog&lt;option&gt;
    &lt;option value="cat"&gt;cat&lt;option&gt;
    &lt;option value="hamster"&gt;hamster&lt;option&gt;
    &lt;option value="parrot"&gt;parrot&lt;option&gt;
    &lt;option value="spider"&gt;spider...&lt;option&gt;
    &lt;option value="goldfish"&gt;goldfish...&lt;option&gt;
&lt;/select&gt;<br></code></pre>
           <button class="copy-button"><i class="fas fa-copy"></i></button>
      </div><br><br>
        <p>
          // In your JavaScript
        </p>
        <div class="code-bloc-1 code-wrapper">
        <pre><code class="code-showcase javascript">import { selektor } from '@selektor/selektor';

// if you want to init existing selektor by data attribute.
selektor.scanhtmlsection();

try {
const select = new selektor(document.queryselector('select'));
} catch (e) {
console.log('select not found !');
}</code></pre>
            <button class="copy-button"><i class="fas fa-copy"></i></button>
      </div>
      <h2 style="margin-top:40px;">
        <pre><code>&lt;select multiple&gt;</code></pre>
      </h2>

      <select id="select-animal" multiple="multiple" placeholder="Select an animal..." autocomplete="off">
        <option value="dog">Dog</option>
        <option value="cat">Cat</option>
        <option value="hamster">Hamster</option>
        <option value="parrot">Parrot</option>
        <option value="spider">Spider</option>
        <option value="goldfish">Goldfish</option>
      </select><br>

        <p>
          // In your html
        </p>
        <div class="code-bloc-1 code-wrapper">
        <pre><code class="code-showcase html">&lt;select id="select-animal" multiple="multiple" placeholder="select an animal..." autocomplete="off"&gt;
    &lt;option value="dog"&gt;dog&lt;option&gt;
    &lt;option value="cat"&gt;cat&lt;option&gt;
    &lt;option value="hamster"&gt;hamster&lt;option&gt;
    &lt;option value="parrot"&gt;parrot&lt;option&gt;
    &lt;option value="spider"&gt;spider...&lt;option&gt;
    &lt;option value="goldfish"&gt;goldfish...&lt;option&gt;
&lt;/select&gt;<br></code></pre>
          <button class="copy-button"><i class="fas fa-copy"></i></button>
      </div><br><br>

        <p>
          // In your JavaScript
        </p>
        <div class="code-bloc-1 code-wrapper">
        <pre><code class="code-showcase javascript">import { selektor } from '@selektor/selektor';

// if you want to init existing selektor by data attribute.
selektor.scanhtmlsection();

try {
const select = new selektor(document.queryselector('select'));
} catch (e) {
console.log('select not found !');
}</code></pre>
            <button class="copy-button"><i class="fas fa-copy"></i></button>
      </div>

    </div>

  </div>



{% endblock content %}
